@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    border: 1px solid black;
    box-sizing: border-box;
}
html{
    width: 1533px;
    height: 750px;
}
body{
    background-color: #add8e6;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1, h2, h3{
    font-family: 'Poppins', sans-serif;
}

h2{
    text-align: center;
}
main#first{
    margin: 0 auto;
    background-color: #ffffff;
    width: 1240px;
    height: 680px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1100px;
}
article{
    position: absolute;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
aside{
    float: right;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

img{
    width: 547px;
    height: 364px;
}
button {
    height: 75px;
    width: 125px;
    font-size: 20px;
}



