* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  /* border: 1px solid black; */
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}
h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 62px;
  text-transform: uppercase;
}
h2,
h3,
h4,
h5 {
  font-family: "Archivo Narrow", sans-serif;
}
h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 1em;
}

p,
ul > li,
li {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  padding: 5px;
  letter-spacing: 1px;
  text-align: left;
}
/* --------------------------- */
main {
  max-width: 1000px;
  margin: auto;
  background-color: #ffffffff;
  box-shadow: 0 4px 2.5rem 0 rgb(0 0 0 / 8%);
}
img {
  max-width: 350px;
}
#main-content {
  margin: 50px 25px;
  background-color: #ffffffff;
  padding-bottom: 25px;
}
.header {
  display: flex;
  flex-direction: row;
  text-align: left;
  border-bottom: 2px solid #efefef;
}
#header-info {
  max-width: 70%;
  padding: 25px;
  margin: 20px;
}
.experiences_school-info {
  display: flex;
  flex-direction: row;
}
.experiences_school-info > img {
  width: 50px;
  height: 100%;
  padding-top: 5px;
  margin: 10px;
}

/* --------------------------- */
.contents {
  display: flex;
  flex-direction: row;
}
/* --------------------------- */
.side {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 30px;
  border-right: 2px solid #efefef;
}
.side > div > h3 {
  text-align: center;
  background-color: #efefef;
  border-radius: 10px;
  padding: 2px;
}
#skills_set2 {
  border: 1px solid gray;
  margin-top: 10px;
  padding: 10px;
}
#skill_set2 > p {
  display: block;
  text-align: center;
  margin: auto;
}
/* --------------------------- */
.main {
  display: flex;
  flex-direction: column;
  width: 67%;
  padding: 30px;
}
.main > div > h3 {
  text-align: center;
  background-color: #efefef;
  border-radius: 10px;
  padding: 2px;
}
/* --------------------------- */
@media only screen and (max-width: 992px) {
  main,
  #main-content,
  .header,
  .contents,
  .side,
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px 10px 10px;
    border: none;
  }
}
/* --------------------------- */
