* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  border: 1px solid black;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}
/* --------------------------- */
main{
  max-width: 1533px;
  margin: auto;
}
img{
  max-width:  375px;
}
.header {
  display: flex;
  flex-direction: row;
}
figure{
  max-width: 24.75%;
}
#header-info {
  max-width: 70%;
  margin: auto;
}
/* --------------------------- */
.contents{
  display: flex;
  flex-direction: row;
}
/* --------------------------- */
.side{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px;
}
/* --------------------------- */
.main{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px;
}
/* --------------------------- */
/* --------------------------- */
