* {
  border: 1px solid black;
  box-sizing: border-box;
}
html {
  width: 1533px;
  height: 100%;
  margin: auto;
}
body {
  background-color: #add8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
img {
  max-width: 500px;
}
.header {
  display: flex;
}
#header-info {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.side {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.main {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.contents{
  display: flex;
  flex-direction: row;
}
