
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  /* border: 1px solid black; */
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}
h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 62px;
  text-transform: uppercase;
}
h2,
h3 {
  font-family: 'Archivo Narrow', sans-serif;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
p, ul>li, li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding: 5px;
  letter-spacing: 1px;
  text-align: left;
}
/* --------------------------- */
main {
  max-width: 1000px;
  margin: auto;
  background-color: #ffffffff;
}
img {
  max-width: 350px;
}
#main-content {
  margin: 50px 25px;
  background-color: #ffffffff;
  padding-bottom: 25px;
}
.header {
  display: flex;
  flex-direction: row;
  text-align: left;
  border-bottom: 2px solid #efefef;
}
#header-info {
  max-width: 70%;
  padding: 25px;
  margin: 20px;
}

/* --------------------------- */
.contents {
  display: flex;
  flex-direction: row;
}
/* --------------------------- */
.side {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 30px;
  text-align: center;
  border-right: 2px solid #efefef;
}
/* --------------------------- */
.main {
  display: flex;
  flex-direction: column;
  width: 67%;
  padding: 30px;
}
.main > div > h3 {
  margin: 15px 50px;
}
/* --------------------------- */
/* --------------------------- */
